@import "reset.css";

@font-face {
  font-family: "IRANsans";
  src: url(../fonts/IRAnSans/IRANSansWeb_Light.woff) format("woff");
}

body {
  font-family: "IRANsans";
  direction: rtl;
}
.container {
  width: 1700px;
  margin: auto;
}
header {
  width: 100%;
}
header nav {
  width: 100%;
  height: 70px;
}
header nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav .navbar-right {
  display: flex;
}
header nav .navbar-right ul {
  display: flex;
}
header nav .navbar-right ul li {
  margin: 0 10px;
}
header nav .navbar-right ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  border: none;
}
header nav .navbar-left {
  display: flex;
  align-items: center;
}
header nav .navbar-left ul {
  display: flex;
  margin-left: 50px;
}
header nav .navbar-left ul li {
  margin: 0 10px;
}
header nav .navbar-left ul li a {
  text-decoration: none;
}
header nav .navbar-left ul li a svg {
  font-size: 20px;
  color: black;
}
header nav .navbar-left img {
  width: 80px;
}
header #slide {
  background-image: url("../images/slide.jpg");
  background-size: cover;
  width: 100%;
  height: 900px;
}
header #slide .slider {
  width: 100%;
  height: 900px;
  position: relative;
}
header #slide .slider .slide-description {
  position: absolute;
  left: 0%;
  top: 35%;
}
header #slide .slider .slide-description h1 {
  font-size: 120px;
  margin-right: 300px;
  margin-top: 30px;
  color: #505050;
}
header #slide .slider .slide-description h2 {
  font-size: 90px;
  color: #222222;
}
header #slide .slider span {
  position: absolute;
  left: 37%;
  top: 30%;
  font-size: 140px;
  font-weight: bold;
  font-family: Arial;
  color: #e2e2e2;
}
/* haghing-lamp */
#hanging-lamp {
  width: 100%;
  background-color: #c56211;
  position: relative;
}
#hanging-lamp .test {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  bottom: 0;
  left: 90%;
}
#hanging-lamp .hanging-lamp {
  display: flex;
  justify-content: space-between;
}
#hanging-lamp .hanging-lamp .hanging-right {
  display: flex;
  background-color: white;
}
#hanging-lamp .hanging-lamp .hanging-right img {
  width: 500px;
  height: 300px;
}
#hanging-lamp .hanging-lamp .hanging-right .description-right {
  position: relative;
}
#hanging-lamp .hanging-lamp .hanging-right .description-right h1 {
  font-size: 40px;
  margin-top: 50px;
}
#hanging-lamp .hanging-lamp .hanging-right .description-right p {
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}
#hanging-lamp .hanging-lamp .hanging-right .description-right a {
  text-decoration: none;
  background-color: #c56211;
  padding: 10px 15px;
  color: #ffff;
  position: absolute;
  left: 20px;
}
#hanging-lamp .hanging-lamp .hanging-left {
  display: flex;
  align-items: center;
}
#hanging-lamp .hanging-lamp .hanging-left .desctiption-left {
  width: 100%;
}
#hanging-lamp .hanging-lamp .hanging-left h1 {
  font-size: 40px;
  margin-top: 10px;
}
#hanging-lamp .hanging-lamp .hanging-left h2 {
  font-size: 40px;
  margin-top: 20px;
}
